
/* ---------------------------------------Navbar---------------------------------------*/
body {
    font-family: Helvetica, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    background-color: #0B0C10;
    overflow: hidden;
    height: 90px;
}

nav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 40px 32px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover {
    background-color: rgb(102, 252, 241);
    color: black;
}

.search-container {
    float: left;
    padding: 25px;
    display: flex;
}

.search-container input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
}

.search-container button {
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 3px;
    margin-bottom: 5px;
    background: #ddd;
    border: none;
    cursor: pointer;
}
.search-input {
    width: 400px;
    border-radius: 10px;
}

.navbar-right {
    float: right;
}
#connexionBackground {
    position : absolute;
    z-index: -1;
}


#connexionBackground img{
    width: 100vw;
    height: auto; 
    filter: blur(3px)
}

.container {
    background-image: blue;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.centerFlexBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.connexionForm {
    border : solid 3px darkslategrey;
    border-radius: 10px;
    width: 20vw;
    height: 50vh;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 1) 10px 10px 20px;
}

.inputConnexion {
    flex-direction: column;
    align-items: start;
}